.App {  
  text-align: center;
  max-width: 90%;
  min-width: 10px;
  margin: auto;
  height: 100%;
  background: rgb(0,27,36);
  background: linear-gradient(90deg, rgba(0,27,36,0.9640231092436975) 0%, rgba(19,80,113,0.9220063025210083) 35%, rgba(0,236,255,1) 100%);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
